/**
 * font-family: 'Lato', sans-serif;
 * font-family: 'Source Sans Pro', sans-serif;
 * font-family: 'Sunflower', sans-serif;
 */

/* prettier-ignore */
.story-card-wrapper {
  padding: 0 5px 10px;
  width: 100%;
}

/* prettier-ignore */
.story-card {
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px hsla(0, 0%, 0%, 0.2),
              0px 2px 2px 0px hsla(0, 0%, 0%, 0.14),
              0px 3px 1px -2px hsla(0, 0%, 0%, 0.12);
  color: hsl(0, 0%, 20%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  overflow: hidden; 
  padding: 10px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  white-space: nowrap;
  width: 100%;
}

.story-card:hover {
  box-shadow: 0px 1px 3px 0px hsla(0, 0%, 0%, 0.2),
    0px 1px 1px 0px hsla(0, 0%, 0%, 0.14),
    0px 1px 1px -2px hsla(0, 0%, 0%, 0.12);
}

/* prettier-ignore */
.story-card::before {
/**
 * We can not do transitions on a linear background
 * To creat a desired effect, I will expand a psuedo element
 * and move it around on hover
 */
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0) 35%,
    hsla(0, 0%, 100%, 0.25) 50%,
    hsla(0, 0%, 100%, 0) 65%,
    hsla(0, 0%, 100%, 0) 100%
  );
  content: '';
  display: block;
  height: 100%;
  left: 0;
  margin-left: -100%;
  position: absolute;
  top: 0;
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 200%;
}

.story-card:hover::before {
  left: 100%;
}

.story-card-content {
  position: relative;
  z-index: 100;
}

.story-card-time {
  color: #050505;
  font-family: 'Sunflower', sans-serif;
  margin-bottom: 10px;
}

.story-card-title {
  color: #050505;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  white-space: initial;
}

.story-card-author {
  background-color: hsl(24, 100%, 50%);
  border-radius: 2px;
  color: white;
  font-family: 'Sunflower', sans-serif;
  font-size: 14px;
  margin-top: 5px;
  padding: 2px;
  text-transform: initial;
  width: fit-content;
}

.story-card-score {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  bottom: 10px;
  color: hsl(28, 100%, 50%);
  display: flex;
  font-family: 'Sunflower', sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  right: 10px;
  width: 50px;
  z-index: 100;
}

.story-card-score::before {
  border: 10px solid;
  border-color: transparent transparent white transparent;
  content: '';
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translateX(-50%);
}

.story-card-link {
  color: #050505;
  text-decoration: none;
  z-index: 100;
}

@media screen and (min-width: 550px) {
  .story-card-wrapper {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .story-card-wrapper {
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .story-card-wrapper {
    width: 25%;
  }
}

.story-card-background-1,
.story-card-background-2,
.story-card-background-3,
.story-card-background-4 {
  box-shadow: 0px 1px 5px 0px hsla(0, 0%, 0%, 0.2),
    0px 2px 2px 0px hsla(0, 0%, 0%, 0.04),
    0px 3px 1px -2px hsla(0, 0%, 0%, 0.02);
  position: absolute;
  transition: box-shadow 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 750ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1;
}

.story-card:hover .story-card-background-1,
.story-card:hover .story-card-background-2,
.story-card:hover .story-card-background-3,
.story-card:hover .story-card-background-4 {
  box-shadow: 0px 1px 1px 0px hsla(0, 0%, 0%, 0.02),
    0px 1px 1px 0px hsla(0, 0%, 0%, 0.04),
    0px 1px 1px -2px hsla(0, 0%, 0%, 0.02);
}

/* background-color: hsl(24, 100%, 50%); */
.story-card-background-1 {
  height: 10px;
  left: 0;
  top: 30%;
  transform: rotate(110deg);
  width: 200%;
}

.story-card-background-2 {
  height: 30px;
  left: 0;
  top: 30%;
  transform: skew(30deg, 15deg);
  width: 200%;
}

.story-card-background-3 {
  height: 3px;
  left: 0;
  top: 30%;
  transform: skew(30deg, 25deg);
  width: 200%;
}
